
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<form action="Create" method="post">
    CateName <input type="text" name="CateName" value="" />
    ParentId <input type="text" name="ParentId" value="" />
    TableInfo <input type="text" name="TableInfo" value="" />

    <input type="submit" name="name" value="submit" />

</form>











